<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--mysql-->
      <add key="sqlconn" value="Server=127.0.0.1;Database=mysql;Uid=simon;Pwd=sS123456;Pooling=true;Charset=utf8;"/>

      <!--accdb-->
      <!--<add key="sqlconn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source = D:\simon.accdb;Jet OLEDB:Database Password=111111"/>-->
      <!--<add key="sqlconn" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\simon.accdb"/>-->

      <!--Ora-->
      <!--<add key="sqlconn" value="Data Source=FIN_TEST;User ID=UA_FIN_TEST;Unicode=True;Password=UA_FIN_TEST;"/>-->

      <!--sql-->
      <!--<add key="sqlconn" value="server=.;uid=jokeuser;pwd=simon123;database=Joke_DB"/>-->

      <!--SQLLite-->
      <!--<add key="sqlconn" value="Data Source=FIN_TEST;User ID=UA_FIN_TEST;Unicode=True;Password=UA_FIN_TEST;"/>-->
    </appSettings>
</configuration>